.bedContainer{
   width: 150px;
   position: relative;
}
.bed{
   background-repeat: no-repeat;
   background-size: cover;
}
.careLeftBox{
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.careLeft > img{
   width: 20px;
}

.leftHover{
   visibility: hidden;
   position: absolute;
   top: 3px;
   left: 156px;
   width: 200px;
   height: 100px;
   border: 1px solid gray;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 2;
   color: black;
   opacity: 0;
   transform: translateY(-10px);
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.bedContainer:hover .leftHover{
   visibility: visible;
   opacity: 1;
   transform: translate(0);
}
.careRightBox {
   display: flex;
   gap: 15px;
   margin-top: 10px
}

.leftHover > p,
.leftHover > p > span{
   color: #fff;
}
.active{
   display: block;
}


.left_G{
   color: rgb(80, 153, 230);
}
.left_C{
   color: rgb(185, 185, 93);
}
.left_A{
   color: rgb(165, 69, 69);
}
