/* RoomStatus.module.css */

.roomStatusContainer {
   display: flex;
   flex-direction: column;
   width: 25vw;
   color: #fff;
   height: 35vh;
   box-sizing: border-box;
}

/* RoomList와 RoomDetails를 포함하는 컨테이너 스타일 */
.roomListContainer {
   padding: 10px;
   border-bottom: 1px solid #2f2e2e;
}

.title {
   font-size: 1.5em;
   margin-bottom: 10px;
}

.roomList {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.roomItem {
   background-color: #2f2e2e;
   padding: 10px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s;
}

.roomItem:hover {
   background-color: #444;
}

/* 선택된 병실의 상세 정보를 보여주는 컨테이너 스타일 */
.roomDetailsContainer {
   display: flex;
   flex: 1;
   overflow-y: auto;
}

.leftColumn,
.rightColumn {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
}

.patientInfoContainer {
   background-color: #1f1f1f;
   padding: 10px;
   border: 1px solid #2f2e2e;
   border-radius: 4px;
}
