
/* Apple SD Gothic Neo */
@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('AppleSDGothicNeo/AppleSDGothicNeoB.ttf') format('truetype'),
    url('AppleSDGothicNeo/AppleSDGothicNeoEB.ttf') format('truetype'),
    url('AppleSDGothicNeo/AppleSDGothicNeoH.ttf') format('truetype'),
    url('AppleSDGothicNeo/AppleSDGothicNeoL.ttf') format('truetype'),
    url('AppleSDGothicNeo/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
