.tabHeader{
   background-color: gray;
   display: flex;
   height: 30px;
   justify-content: space-between;
   padding: 10px 10px;
   border-radius: 5px;
}
.tabHeaderClose{
   position: relative;
   top: -5px;
}