.bottomFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.memo {
    position: absolute;
    top: 45%;
    right: 0;
    background-color: #ddff00;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
}

.actingmemo {
    position: absolute;
    top: 45%;
    left: 0;
    background-color: #ff00d9;
    width: 75vw;
    height: 50vh;
    overflow: hidden;
}

/*.roomstatus {*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    right: 0;*/
/*    background-color: #000;*/
/*    width: 25vw;*/
/*    height: 35vh;*/
/*    overflow: hidden;*/
/*}*/

/* Acting.module.css 추가 수정 */
.roomstatus {
    position: absolute;
    top: 10%;
    right: 0;
    background-color: #000;
    width: 25vw;
    height: 35vh;
    overflow: hidden;
}


.actingtable {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #3154ff;
    width: 75vw;
    height: 35vh;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000320;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

.layoutContainer {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
}


