.leftSection {
   display: flex;
   align-items: center;
   flex: 0 0 auto;
}

.centerSection {
   display: flex;
   align-items: center;
   flex: 1;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 50px;
   overflow: hidden;
}

.rightSection {
   display: flex;
   align-items: center;
   flex: 0 0 auto;
}
