.mainContainer {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 5px;
}

.userLogin {
   font-size: 12px;
}

.iconLogout {
   width: 15px;
   margin-left: 5px;
   vertical-align: text-bottom;
   cursor: pointer;
}

.nav {
   display: flex;
   gap: 10px;
}

.nav > span > img {
   width: 25px;
   cursor: pointer;
}
