.viewBox {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 0 1 auto; /* 여유 공간을 채우지 않도록 설정 */
   margin-right: 5px; /* 요소 간 여백을 줄이기 위한 margin */
}


.viewText {
   font-size: 14px;
   color: #fff;
   padding-right: 5px;
}

.switch {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 20px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   transition: background-color 0.4s ease;
}

.slider::before {
   position: absolute;
   content: "";
   height: 16px;
   width: 16px;
   left: 4px;
   top: 2px;
   background-color: white;
   transition: transform 0.4s ease;
   transform: translateX(0px); /* 초기 상태 */
}

input:checked + .slider::before {
   transform: translateX(26px); /* 체크 시 26px로 이동 */
}

input:checked + .slider {
   background-color: #2196F3;
}

.slider.round {
   border-radius: 34px;
}

.slider.round::before {
   border-radius: 50%;
}
