.tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 9999;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}
