.environmentContainer {
   display: flex;
   flex-wrap: wrap; /* 한 줄에 공간이 부족할 때 다음 줄로 넘어가도록 함 */
   gap: 20px; /* 각 donutContainer 사이의 간격 */
   width: 100%; /* 전체 너비 */
   max-width: 100%; /* 한 줄에 5개가 배치될 수 있는 최대 너비 */
   background-color: black;
   
 }
 

 .donutContainer {
   width: 300px;
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1b1919; /* 예시 배경색 */
   position: relative;
   gap: 30px;
 }
 .donutContent{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50%;

 }

 .observation{
   display: flex;
   justify-content: space-around;
 }
 .observationItem{
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid gray;
 }

 .roomNumber {
   border: 3px solid #2f2e2e;
   border-radius: 20px;
   width: 200px;
   text-align: center;
   position: relative; /* grid 레이아웃에서 정상적으로 동작하도록 변경 */
   margin: 0 auto; /* 가운데 정렬 */
   grid-column: 1 / -1; /* 두 열에 걸쳐서 위치 */
   grid-row: 3; /* 세 번째 행에 위치 */
   justify-self: center; /* 가운데 정렬 */
   align-self: end; /* 행의 하단에 위치 */
   bottom: 10px;
 }
 
 /* good 상태 - 예시: 녹색 애니메이션 */
.good {
   animation: goodAnimation 2s infinite alternate;
   border-color: green;
 }
 
 @keyframes good {
   0% {
     transform: scale(1);
   }
   100% {
     transform: scale(1.1);
   }
 }
 
 /* normal 상태 - 예시: 파란색 애니메이션 */
 .normal {
   animation: normalAnimation 3s infinite alternate;
   border-color: blue;
 }
 
 @keyframes normal {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(10deg);
   }
 }
 
 /* bad 상태 - 예시: 빨간색 애니메이션 */
 .bad {
   animation: badAnimation 1.5s infinite alternate;
   border-color: red;
 }
 
 @keyframes bad {
   0% {
     opacity: 1;
   }
   100% {
     opacity: 0.5;
   }
 }
 