.select_box{
   width: 150px;
   height: 70px;
   position: absolute;
   padding: 10px;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.6);
}
.marginReft{
   margin-left: 15px;
}

/*
 name
 deptName
  patSex
*/