.scopeBox {
  width: 1000px;
  height: 500px;
  background-color: rgb(117, 82, 82);
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.endoBed{
   background-image: url("./../../public/images/Image/m11a.gif");
   background-size: cover;
   background-repeat: no-repeat;
   width: 80%;
   height: 80%;
}

.innerBed{
   width: 100%;
}