@import url('assets/fonts/fonts.css');

* {
   -ms-overflow-style: none;
}

body {
   font-family: 'Apple SD Gothic Neo', sans-serif;
   overflow: hidden;
}

body::-webkit-scrollbar{
   display:none;
}
