.tableContainer {
   flex: 1;
   height: 93vh;
   width: 100%;
   background-color: #1f2e82;
   border: 1px solid #000;
   position: relative;
   overflow-y: hidden;
}

.col100 {
   width: 100%;
}

.col {
   border-collapse: collapse;
}

.table {
   text-align: center;
   table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
   font-size: 16px;
   height: auto; /* 테이블 높이를 자동으로 설정 */
   background-color: #1F50B5;
   width: 100%;
   border-collapse: collapse;
}

.tbody {
   line-height: 10px;
   vertical-align: middle;
}

.tr {
   border: 1.5px solid #3163C9;
   font-size: 22px;
   height: 40px; /* tr의 높이를 고정 */
   vertical-align: middle;
}

.th {
   background-color: rgb(33, 35, 35);
   border: 1.5px solid #0250ed;
   height: 40px; /* th의 높이를 고정 */
   color: white;
   font-size: 25px;
   text-align: center;
   line-height: 40px; /* th의 텍스트를 중앙에 배치 */
}

.td {
   height: 40px !important; /* td의 높이를 고정 */
   display: table-cell;
   padding: 0px; /* 내부 여백 제거 */
   border: 1.5px solid #3163c9;
   font-size: 16px; /* 폰트 크기를 줄여서 셀 높이에 맞게 조정 */
   font-weight: 400;
   text-align: center;
   background-color: rgb(23, 42, 42);
   color: #ffffff;
   vertical-align: middle; /* 텍스트를 중앙에 위치 */
   line-height: 40px; /* 텍스트 줄 높이를 셀 높이와 동일하게 설정 */
   overflow: hidden; /* 넘치는 텍스트 숨기기 */
   text-overflow: ellipsis; /* 넘치는 텍스트를 생략(...) 처리 */
}
